@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Oswald', monospace;
    background-color: rgb(0, 0, 0);
}

.intro-css h1,h2,h3,h4,h5,h6 {
    font-family: 'Asul', sans-serif;
    text-align: center;
    color:rgb(243, 243, 243);

}

.back-home {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.back-home a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #878787;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.back-home a:hover {
    transform: translateY(-3px);
    background-color: #545454;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.introduction-css p{
    max-width: 1500px;
    font-family: 'asul', sans-serif;
    font-size: 25px;
    line-height: 1.6;
    color:rgb(243, 243, 243)
}

footer {
    font-size: 25px;
    height: 60px;
    background-color: #028060;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}