@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
html {
    background-color: #0c0c0c;
    line-height: 1.2;
    
    font-size: 18px;
}
.post-title {
    text-align: center;
    margin-bottom: 20px;
    line-height: 0.5;
}

body {
    
    margin: 0 auto;
    padding: 20px;
}
h1,h2,h3,h4{
    font-family: 'Asul', sans-serif;
        font-size: 40px;
        color: #c8c8c8;
        margin-bottom: 20px;
}

.intro-post p{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

footer {
    font-size: 25px;
    font-family: 'Oswald', monospace;
    height: 60px;
    background-color: #028060;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.back-home {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.back-home a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #878787;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.back-home a:hover {
    transform: translateY(-3px);
    background-color: #545454;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
